* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'terminal';
  font-weight: 100;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  height: 25vh;
  background: linear-gradient(transparent 25%, 75%, white);
}

::-webkit-scrollbar-thumb {
  background: bottom / 100% no-repeat url('./images/owl.png');
}

@font-face {
  font-family: 'terminal';
  src: url('./fonts/terminal-grotesque.ttf');
}

@font-face {
  font-family: 'terminal-open';
  src: url('./fonts/terminal-grotesque_open.otf');
}
